<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITI_UMY" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiceRest_20180140118_Abdul_Eriawan_Nahar/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITI_UMY"
                contract="ServiceReference1.ITI_UMY" name="BasicHttpBinding_ITI_UMY" />
        </client>
    </system.serviceModel>
</configuration>